<!DOCTYPE html>
<html lang="en">

	<!-- head -->
	<%- include( '../partials/head.ejs', { page: 'Reviews' } )  %>

<body class="has-navbar-fixed-top">
  <!-- https://bulma.io/documentation/components/navbar/#fixed-navbar -->

<%- include ( '../partials/nav') %>

  <section class="hero is-medium has-background-light">
    <div class="hero-body">
      <p class="title">All Reviews</p>
    </div>
  </section>

  <main class="container is-max-widescreen">
    <div class="columns is-multiline p-5">
      <% for(let idx=0; idx < reviews.length; idx++){ %>
        <% const review=reviews[idx] %>

          <div class="column is-one-third">
            <article class="card">
              <section class="card-image">
              </section>
              <div class="card-content">
                <div class="content">
                  <h3>
                    <a href="/reviews/<%= review.id %>">
                      <%= review.rating %>
                    </a>
                  </h3>

                  <p>
                    <%= review.content %>$
                  </p>
                </div>
                <p>
                  <%= review.product %>
                </p>
              </div>
            </article>
          </div>

          <% } %>
    </div>
  </main>
</body>

</html>