<!DOCTYPE html>
<html lang="en">
  <!-- Head partial -->
  <%- include('../partials/head', { page: 'Review' }) %>

  <body class="has-navbar-fixed-top">
    <!-- Navbar Partial -->
    <%- include('../partials/nav' ) %>

    <section class="hero is-medium is-info">
      <div class="hero-body">
        <p class="title">All Reviews</p>
      </div>
    </section>

    <main class="container is-max-widescreen">
      <div class="columns p-5">
        <!-- Inside the main columns div -->
        <section class="column is-one-quarter">
          <div class="box is-flex-direction-column">
            <form action="/reviews" method="POST">
              <div class="field">
                <label class="label">Rating</label>
                <div class="control">
                  <input
                    class="input"
                    type="number"
                    name="rating"
                    min="0"
                    max="5"
                    placeholder="0-5"
                  />
                </div>
              </div>
              <div class="field">
                <label class="label">Content</label>
                <div class="control">
                  <textarea
                    name="content"
                    class="textarea"
                    placeholder="Leave a review!"
                  ></textarea>
                </div>
              </div>
              <div class="field">
                <label for="" class="label">Product</label>
              
                <div class="select">
                  <select name="product">
                    <% products.forEach(product => { %>
                    <option value="<%= product._id %>"><%= product.name %></option>
                    <% }) %>
                  </select>
                </div>
              </div>
              <div class="control">
                <button class="button is-link">Submit</button>
              </div>
            </form>
          </div>
        </section>
        <section class="column">
          <% reviews.forEach(review => { %>
          <div class="box">
            <article class="media">
              <div class="media-left">
                <figure class="image is-64x64">
                  <img src="https://picsum.photos/200" alt="Image" />
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <strong>John Smith</strong>
                  <small>
                    <%= new Date(review.createdAt).toLocaleString() %>
                  </small>
                  <br />
                  <!-- here are looping and creating 5 stars. as we are looping we lookign at the current index and up to the review rating we will make it yellow. -->
                  <% for( let index = 0; index < 5; index++ ) { %>

                  <span class="icon">
                    <% if (index < review.rating) { %>
                    <i class="fas fa-star has-text-warning"></i>
                    <% } else { %>
                    <i class="fas fa-star"></i>
                    <% } %>
                  </span>

                  <% } %>
                  <br />
                  <%= review.content %>
                  <!--Add at bottom of card below the review content -->
                  <hr />
                  <a href="/products/<%=review.product._id%>">
                    <%= review.product.name %></a>
                </div>
              </div>
              <div class="media-right">
                <section class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link"></a>
                  <div class="navbar-dropdown">
                    <a class="button is-primary m-2 navbar-item"> Edit </a>
                    <hr class="navbar-divider" />
                    <form action="/reviews/<%= review._id %>?_method=DELETE" method="POST">
                      <input class="button is-danger m-2 navbar-item" type="submit" value="	Delete"/>                    
                    </form></a>
                  </div>
                </section>
              </div>
            </article>
          </div>
          <% }) %>
        </section>
      </div>
    </main>
  </body>
</html>
